Package: com.uncleyeung.tengxiang9527
Name: TengXiangFont 95.27% IOS12
Version: 1.0.0
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: http://uncleyeung.github.io/
Conflicts: com.uncleyeung.tengxiang9527
Section: Font
Description: TengXiangFont 95.27% IOS12
Homepage: http://uncleyeung.github.io/
Maintainer: uncleyeung <java.yang.bo@outlook.com>
