Package: com.uncleyeung.kuaidial
Name: KuaiDial iPhone X
Version: 1.6-8
Depends: firmware (>= 10.0), mobilesubstrate, preferenceloader
Description: kuaidail
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: https://uncleyeung.github.io/web/html/index_cydia.html
Section: System
Homepage: https://uncleyeung.github.io/web/html/index_cydia.html
Maintainer: uncleyeung <java.yang.bo@outlook.com>
Icon: https://raw.githubusercontent.com/uncleyeung/uncleyeung.github.io/master/cydia/img/depictions/sectionIcons/plugin.png
Sileodepiction: https://raw.githubusercontent.com/uncleyeung/uncleyeung.github.io/master/cydia/json/sileo/plugin.json
