Package: com.uncleyeung.native
Name: NativeFont IOS12(原生字体)
Version: 1.0.0
Depends: firmware (>= 12.0), mobilesubstrate
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: http://uncleyeung.github.io/
Conflicts: com.uncleyeung.native
Section: Font
Description: 原生字体安装完可直接卸载,挽救手动替换的你
Homepage: http://uncleyeung.github.io/
Maintainer: uncleyeung <java.yang.bo@outlook.com>
