Package: com.uncleyeung.callbarxs
Name: CallBar XS
Version: 2.1-22
Depends: mobilesubstrate, preferenceloader, com.uncleyeung.limneosos
Conflicts: net.limneos.callbarx, com.pulandr3s.audiorecorderxs, com.pulandr3s.callbarxs, com.pulandr3s.bioprotectxs, net.pulandr3s.nfcwriterx, com.pulandr3s.limneosos
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: http://uncleyeung.gtihub.io/
Section: System
Description: Change style of your calls
Homepage: http://x1aomi.gtihub.io/
Maintainer: uncleyeung <java.yang.bo@outlook.com>
