Package: com.uncleyeung.qqmusic.cracked
Name: qq音乐破解(适配V8.9.9版本)
Version: 1.0.0
Depends: firmware (>= 11.0), mobilesubstrate
Conflicts: com.uncleyeung.qqmusic.cracked
Description: 破解版权/试听下载无损/开启DTS
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: https://uncleyeung.github.io/web/html/index_cydia.html
Section: Plugin
Homepage: https://uncleyeung.github.io/web/html/index_cydia.html
Maintainer: uncleyeung <java.yang.bo@outlook.com>
Icon: https://raw.githubusercontent.com/uncleyeung/uncleyeung.github.io/master/cydia/img/depictions/sectionIcons/plugin.png
Sileodepiction: https://raw.githubusercontent.com/uncleyeung/uncleyeung.github.io/master/cydia/json/sileo/plugin.json

