Package: com.uncleyeung.locationfaker
Name: Location Faker
Version: 1.0.0
Depends: firmware (>= 7.0), mobilesubstrate
Architecture: iphoneos-arm
Author: uncleyeung <java.yang.bo@outlook.com>
Depiction: http://uncleyeung.github.io/
Conflicts: com.uncleyeung.locationfaker
Section: application
Description: 虚拟定位
Homepage: http://uncleyeung.github.io/
Maintainer: uncleyeung <java.yang.bo@outlook.com>
